
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5f9ea0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.lang > ul {
    list-style: none;
    padding: 0;
}

.lang > ul > li {
    display: inline-block;
}

.lang > ul > li > a {
    display: block;
    min-width: 100px;
    text-align: center;
    padding: 5px;
    border: 1px solid #f5f5dc;
}

.lang > ul > li > a:hover, .lang > ul > li > a:active {
    background-color: #f5f5dc;
}
